body, div, ul, li, header, h1, td, th, table, section, button {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
  font-size: inherit;
}

body {
  font-weight: normal;
  color: white;
  font-size: 35px;
  letter-spacing: 3px;
  font-family: 'Rubik', sans-serif;
  width: 100vw;
  height: 100vh;
}
